# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio
Debug/
*.tlog
*.obj
*.exe
*.manifest
*.ilk
*.sdf
*.suo
*.user
*.ipch

*.bak